

/* Color guide */
/* Hero purple: #5737B9
 * Hero gray: #6B6B6B
 * Light text gray: #6B6B6B
 */

 #app-store{
    width: 50%;
    margin-top: 20px;
 }


#clove{
    color: #7BB949;
}

.contact{
    padding-bottom: 100px;
    margin-top: 100px;
}

.typed-cursor {
    font-size: 4vw;
    color: #6B6B6B;
}

.hero{
    height: 80vh;
    margin-left: 4vw;
    display: inline-block;
    width: 70vw;
}

.supporting-text{
    display: inline;
    line-height: 1em;
}
.fa-github, .fa-linkedin, .fa-medium{
    margin-left: 5px;
    color: #5737B9;
    font-size: 29px !important;
}

.hero-text{
    margin-top: 25vh;
}

.light{
    font-weight: 400;
    color: #A7A7A7;
    padding-top: 10px;
}

.product-box{
    margin-top: 100px;
}

.projects{
    width: 100%;
    margin-top: 10vh;
}

.projects-header{
    display: block;
    text-align: center;
}

.project-name{
    margin-top: 50px;
    padding-bottom: 15px;
}

.line{
    width:50%;
    height: 100px;
    border-right: 1px solid #D8D8D8
}

.navbar-default{
    background: none;
    border: none;
    margin-top: 10px;
    margin-left: 30px;
}


h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    color: #5737B9;
    margin: 0;
}

h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    color: #6B6B6B;
    margin: 0;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    color: #6B6B6B;
    margin: 0; 
    line-height: 1.1em;
}

.purple{
    color: #5737B9;
}

.nav a{
    color: #5737B9 !important;
    font-size: 20px !important;
    font-weight: 800;
}

#zoomly{
    color: #0094BA;
}